* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
//
h1,
h2,
h3,
h4 {
  margin: 0;
}
body {
  align-content: center;
  min-width: 600px;
  margin: 0;
  max-width: 1280px;
  display: grid;
  margin-inline: auto;
  background-color: oklch(32.11% 0 0);
  color: oklch(80% 0 0);
  // background-image: url(../assets/web-bg.png);
  // background-size: contain;
}

.ongothic {
  font-family: "sandoll-ongothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
}
.barun {
  font-family: "NanumBarunGothic";
  font-weight: 400;
  font-style: normal;

  &-b {
    font-family: "NanumBarunGothicBold";

    font-weight: 700;
    font-style: normal;
  }
}

.square {
  font-family: "NanumSquare";
  font-weight: 400;
  font-style: normal;

  &-b {
    font-family: "NanumSquareBold";
    font-weight: 700;
    font-style: normal;
  }
}
// .section2 {
//   height: 250vh;
// }
.epilogue {
  font-family: "epilogue-210", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.f32 {
  font-size: 32px;
}
.f40 {
  font-size: 40px;
}
.f56 {
  font-size: 56px;
}
.section {
  padding: 0 50px;
  height: 60vh;
  font-size: 40px;
  font-weight: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 880px;
}
.navigation a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  // font-size: 36px;
  gap: 10px;
}

.myphoto {
  border-radius: 40px;
}
.navigation {
  z-index: 10;
  background-color: oklch(32.11% 0 0);
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  vertical-align: middle;
  // margin-inline: auto;
  top: 0;
  white-space: nowrap;

  &-grid {
    display: grid;
    grid-template-columns: 200px minmax(200px, 300px);
    justify-content: space-between;
  }
  &-left {
    vertical-align: middle;
  }
}

.wrapper {
  min-height: 60vh;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: oklch(80% 0 0);
  position: relative;
  margin-inline: auto;

  .fade-wrap {
    transition: 1.5s ease-in-out;
  }
  .gridbox {
    display: grid;

    // grid-template-columns: ;
    align-items: center;
    margin-inline: auto;
  }
  // .flexbox {
  //   display: flex;
  //   align-items: center;
  // }
}
.fade-wrap {
  overflow: hidden;
  -webkit-line-clamp: 5;
  font-size: 5vw;
  width: 100%;
  height: 100%;
  align-content: center;
  margin-inline: auto;
}
.text-group {
  text-align: left;
}
.sec0 {
  padding: 150px;
  border-radius: 40px;

  color: #fff;
  background-color: oklch(52.11% 0.02 40);
  .section {
    flex-flow: column;
  }
}

.sec1 {
  margin-top: 20px;
  border-radius: 40px;
  background-color: oklch(52.11% 0.05 80);
  .fade-wrap {
    transition: 1.5s ease-in-out;
    top: -50;
    column-gap: 0;
    opacity: 0;
    position: relative;
  }

  .fade-wrap.fade-in {
    opacity: 1;
    top: 0;
    .UpText {
      animation-delay: 1s;
    }
    .DoText {
      animation-delay: 2s;
    }
  }
  .gridbox.fade-wrap {
    grid-template-columns: 1fr 1fr;

    .myphoto {
      grid-row: 1/3;
    }

    .under-text {
      grid-row: 3;
    }
  }
}

.sec2 {
  margin-top: 20px;
  border-radius: 40px;
  background-color: oklch(52.11% 0.05 120);
  .fade-wrap {
    transition: 1.5s ease-in-out;
    // left: -20px;
    // position: relative;
    opacity: 0;
  }
  .fade-wrap.fade-in {
    opacity: 1;
    // left: 0;
  }
  .gridbox.fade-wrap {
    grid-template-columns: 1fr 1fr;

    .myphoto {
      grid-row: 1/3;
    }
  }
  .f40 {
    grid-column: 2;
  }
}
.sec3 {
  margin-top: 20px;
  border-radius: 40px;
  background-color: oklch(52.11% 0.05 160);
  .fade-wrap {
    // transform: scale(0.5);
    transition: 1.5s ease-in-out;

    // position: relative;
    opacity: 0;
  }
  .gridbox.fade-wrap {
    grid-template-columns: 1fr 1fr;

    .myphoto {
      grid-row: 1/3;
    }
  }
  .fade-wrap.fade-in {
    // transform: scale(1);
    opacity: 1;
  }
  .f40 {
    grid-column: 2;
  }
}
.sec4 {
  margin-top: 20px;
  border-radius: 40px;
  background-color: oklch(52.11% 0.05 200);
  .fade-wrap {
    transition: 1.5s ease-in-out;

    position: relative;
    opacity: 0;
  }
  .fade-wrap.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  .gridbox.fade-wrap {
    grid-template-columns: 1fr 1fr;

    .myphoto {
      grid-row: 1/3;
    }
  }
  .f40 {
    grid-column: 2;
  }
}
.sec5 {
  margin-top: 20px;
  border-radius: 40px;
  background-color: oklch(52.11% 0.05 240);
  .fade-wrap {
    transition: 1.5s ease-in-out;

    position: relative;
    opacity: 0;
  }
  .fade-wrap.fade-in {
    opacity: 1;
  }
  .gridbox.fade-wrap {
    grid-template-columns: 1fr 1fr;

    .myphoto {
      grid-row: 1/3;
    }
  }
  .myphoto {
    // grid-row: 1/-1;
  }
  .f40 {
    grid-column: 2;
  }
}

.sec6 {
  margin-top: 20px;
  border-radius: 40px;
  color: oklch(50.68% 0 0);
  .section {
    padding: 0;

    // margin-inline: 50px;
  }
  .fade-wrap {
    padding-inline: 50px;
    border-radius: 40px;
    transition: 1.5s ease-in-out;
    background-color: oklch(50.68% 0 0);
    position: relative;
  }
  .fade-wrap.fade-in {
    color: oklch(90 0.01 0);
    border-radius: 40px;
    background-color: oklch(32.11% 0 0);
  }
  .unity-color {
    // color: oklab(50.68% 0 0);
  }
  .gridbox.fade-wrap {
    grid-template-columns: 1fr 1fr;
    // gap: 100px;
    text-align: right;

    .myphoto {
      grid-column: 2;
      grid-row: 1/3;
      margin-left: auto;
    }
  }

  .f40 {
    grid-column: 1;
  }
}

footer {
  background-color: transparent;
  display: grid;
  height: 100px;
  grid-template-columns: repeat(2, minmax(300px, 400px));
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}
.footer {
  &-right {
    align-items: end;
  }
  &-left {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: 1fr;

    a {
      margin-left: 30px;
    }
  }
}
@keyframes section2-tran {
  0% {
    background-color: oklch(50.68% 0 0);
  }
  100% {
    background-color: oklch(90.68% 0 0);
  }
}
